<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <tbody>

    <forEach items="${tableList3}" var="tableList3" varStatus="status">

        <tr>

            <td><c:out value="${tableList3.id}"/></td>

            <td><c:out value="${tableList3.userName}"/></td>

            <td><c:out value="${tableList3.age}"/></td>

            <td><c:out value="${tableList3.country}"/></td>

            <td><c:out value="${tableList3.etc}"/></td>

        </tr>

    </forEach>

    </tbody>
</head>
<body>

</body>
</html>