<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<thead class="thead-light">
<tr class="text-center">
    <th scope="col">#</th>
    <th scope="col">글번호</th>
    <th scope="col">제목</th>
    <th scope="col">내용</th>
    <th scope="col">작성일</th>
    <th scope="col">수정일</th>
</tr>
<tbody>
<tr th:each="board : ${li}">
    <td th:text="${board.id}"></td>
    <td th:text="${board.title}"></td>
    <td th:text="${board.boardOpinion}"></td>
    <td th:text="${board.createDate}"></td>
    <td th:text="${board.modifyDate}"></td>
   <!--!> <td th:text="${board.user.nickName}"></td><-->
</tr>
</tbody>
</body>
</html>